@import "modules/_vars.scss";
@import "modules/_transitions.scss";
@import "modules/_header.scss";
@import "modules/_hero.scss";
@import "modules/_products.scss";
@import "modules/_about.scss";
@import "modules/_contact.scss";
@import "modules/_queries.scss";

body::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin: 0 auto;
}