@media screen and (min-width: 375px) {

    .header {
        height: 56px;

        &__title { font-size: 26px; }

        &__item { margin: 4% 0; }

        &__link { 
            font-size: 30px;
            top: 35px;
        }

        &__close { font-size: 22px; }
    }

    .wrapper {
        margin: 60px 0;
    }

    .hero {
        margin-top: 0;

        &__heading {
            font-size: 50px;
        }
    }

    .products {
        &__heading { font-size: 30px; }

        &__title {
            font-size: 19px;
        }

        &__card {
            width: 70%;
        }

        &__img {
            height: 250px;
            padding: 10px 0 15px;
        }

        // &__btn {
        //     border-width: 1.5px;
        //     width: 115px;
        //     font-size: 14px;
        //     padding: 11px 0;
        // }

        &__soon {
            font-size: 13px;
        }
    }

    .about {
        &__title { font-size: 30px; }

        &__btn {
            border-width: 1.5px;
            width: 115px;
            font-size: 14px;
            padding: 11px 0;
            margin: 0 auto;
        }
    }

    .contact {
        &__title { font-size: 30px; }

        &__submit {
            border-width: 1.5px;
            width: 105px;
            font-size: 14px;
            padding: 11px 0;
        }
    }
}

@media screen and (min-width: 390px) {

    .products {
        &__heading { font-size: 36px; }

        &__expand { font-size: 25px; }

        &__img { height: 280px; }

        &__title { font-size: 22px; }
    }

    .about {
       &__quote {
           width: 90%;
           font-size: 42px;
           line-height: 53px;
       }

       &__title { font-size: 36px; }

       &__paraWrapper {
           font-size: 14px;
           line-height: 23px;
           width: 88%;
       }

       &__btn {
           width: 120px;
           font-size: 15px;
           padding: 12px 0; 
        }
    }

    .contact {

        &__title { font-size: 36px; }

        &__form {
            padding: 14% 0 11%;
        }

        &__input {
            border-width: 2px;
            font-size: 15px;

            &::placeholder {
                font-size: 18px;
            }
        }

        &__submit { 
            font-size: 15px;
            padding: 12px 0; 
        }

        &__questions {
            width: 85%;
        }

        &__question {
            font-size: 15px;
            line-height: 135%;
            margin:  0 0 30px auto;

            &::before {
                width: 22px;
                height: 22px;
            }
        }

        &__extra {
            width: 80%;
            font-size: 14px;
            line-height: 17px;
        }
    }
}

@media screen and (min-width:428px) {
    // .products {
    //     &__wrapper {
    //         display: flex;
    //         flex-wrap: wrap;
    //         margin-bottom: 3%;
    //         justify-content: center;
    //     }

    //     &__card {
    //         width: 44%;
    //         margin: 0 2% 5%;
    //     }

    //     &__img {
    //         height: 175px;
    //     }

    //     &__btn { font-size: 15px; }
    // }

    .contact {
        &__submit {
            font-size: 15px;
            padding: 10px 0;
            width: 100px;
        }
    }
}


@media screen and (min-width: 1080px) {
    .header {
        &__btn { display: none; }

        &__navigation {
            position: initial;
            top: initial;
            left: initial;
            flex-direction: row;
            height: auto;
            width: auto;
            align-items: initial;
            justify-content: initial;
            background: none;
            margin-right: 7%;
            overflow: initial;
        }

        &__close { display: none; }

        &__item { 
            margin: 0 10% 0 0;
            overflow: initial;
        }

        &__link { 
            top: 0;
            font-size: 16px; 
        }
    }

    .products {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        &__textWrapper, &__wrapper { 
            flex: 0 1 auto;
            width: 42%;
        }

        &__wrapper {
            width: 30%;
        }

        &__card { width: 100%; }

        &__heading {
            &--desktop {
                width: 100%;
                margin: 0 auto 20px;
                line-height: 130%;
                font-size: 50px;
                &::after { display: none; }
            }
        }
    }
}

@media screen and (min-width: 1440px) {

    .header {
        &__navigation { margin-right: 5%; }

        &__link { 
            font-size: 18px; 
        }
    }

    .products {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        max-width: 1600px;

        &__textWrapper, &__wrapper { 
            flex: 0 1 auto;
            width: 40%;
            margin: 0 3%;
        }

        &__wrapper {
            width: 30%;
        }

        &__heading {
            &--desktop {
                width: 95%;
                margin: 0 auto 20px;
                line-height: 130%;
                font-size: 58px;
                &::after { display: none; }
            }
        }
    }
}